.wrapper-item {
    padding: 23px 25px;
    border-right: 1px solid $white-gray;
    border-bottom: 1px solid $white-gray;
    position: relative;

    &:nth-child(1) {
        border-radius: 0.5rem 0 0 0;
    }

    &:nth-child(5) {
        border-radius: 0 0.5rem 0 0;
    }

    &:nth-child(21) {
        border-radius: 0 0 0 0.5rem;
    }

    &:nth-child(25) {
        border-radius: 0 0 0.5rem 0;
    }

    .amount {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #fff;
        padding: 2px 6px;
        background: $white-black;
        border-top: 1px solid $white-gray;
        border-left: 1px solid $white-gray;
        border-radius: 6px 0 0 0;
    }

    .img {
        width: 54px;
        height: 54px;
        object-fit: cover;
    }

    .empty-img {
        width: 54px;
        height: 54px;
        object-fit: cover;
    }

    &.item-hover {
        background: $white-gray;
    }

    &.opacity {
        opacity: 0.3;
    }

    &.item-active {
        background: $white-black;
        padding: 23px 25px;
        border-radius: 24px;
    }

    div,
    img {
        pointer-events: none;
    }

}